* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

a {
  color: var(--fg1);
  font-weight: 500;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(180, 180, 180, 1);
  border-radius: 10px;
}



:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #bdbdbd8a;
  --gray4: #454e56;
  --gray5: #535353;
  --gray6: #242526;
  --gray7: #18191a;
  --gray8: #12181b;
  /* Default theme */
  --bg1: white;
  --bg2: white;
  --fg1: black;
  --fg2: var(--gray6);
}

.darkTheme {
  color: var(--gray0);
  --bg1: var(--gray6);
  --bg2: var(--gray7);
  --fg1: white;
  --fg2: var(--gray0);
  --fg3: var(--gray1);
  background-color: var(--bg2);
}

.darkTheme .post,
.darkTheme .share {
  background-color: var(--bg1);
}

.darkTheme .textInputField {
  caret-color: white;
  color: white;
}

@media screen and (max-width: 1150px) {
  .sidebar {
    flex: none;
    width: 60px;
  }

  .sidebarWrapper {
    padding: 5px;

  }

  .sidebarList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebarIcon {
    margin: 0;
  }

  .sidebarFriendsList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebarListItemText {
    display: none;
  }

  .sidebarFriendName {
    display: none;
  }


  .topbarLink {
    display: none;
  }

  .topbarLeft {
    flex: none;
    margin-right: 10px;
  }

  .logo {
    margin-left: 10px;
  }

  .topbarRight {
    /* flex: 1; */
    margin: 0 10px;
    justify-content: flex-end;
  }

  .rightbar {
    flex: 2.5;
  }

  .sidebarButton {
    font-size: x-small;
  }

}

@media screen and (max-width: 888px) {
  .rightbar {
    display: none;
  }

  .homeMainContainer {
    justify-content: flex-start;
  }


}

@media screen and (max-width: 645px) {
  .shareOptionText {
    font-size: 12px;
  }

}

@media screen and (max-width: 580px) {
  .logo {
    font-size: 20px;
  }

  .topbarRight {
    flex: 1;
  }

  .topbarIconItem {
    margin-right: 12px;
  }

  .shareOptionText {
    display: none;
  }

  .searchbar {
    border-radius: 20px;
  }

  .searchInput {
    font-size: 11px;
    width: 0px;
    padding: 0 10px 0 0;
  }

  .postLikeCounter {
    font-size: smaller;
  }

  .postCommentCounter {
    font-size: smaller;
  }

  .likeIcon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 382px) {
  .topbarIcons {
    display: none;
  }

  .shareOption .shareOptionText {
    display: inline;
  }

  .secondaryShareOption {
    display: none;
  }

  .sidebar svg {
    width: 18px;
  }

  .sidebar {
    width: 48px;
  }

  .sidebarButton {
    padding: 5px 2px;
  }

  .postUsername {
    font-size: 14px;
  }

  .postTiming {
    font-size: 8px;
  }
}