.login {
    box-sizing: border-box;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    padding: 2rem 2rem;
    min-height: 450px;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper {
    width: 80%;
    height: 80%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.loginLogo {
    font-size: 50px;
    color: #1775ee;
    margin: 10px 0;

}

.loginDesc {
    font-size: 24px;
    color: black;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    outline: none;
}

.loginInput:focus {
    border: 2px solid #1774eeb8;
}

.loginErrMsg {
    color: rgba(255, 0, 0, 0.763);
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.loginButton:disabled {
    cursor: not-allowed;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
    cursor: pointer;
}

.loginRegisterButton {
    width: 70%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}