.homeMainContainer {
    display: flex;
    justify-content: space-between;
}

.home-login-main {
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

.home-login-div {
    padding: 1rem;
    background-color: royalblue;
    color: white;
    border-radius: 1rem;
}