.post {
    margin: 25px 0;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.82);
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.82);
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.postTopLeft {
    display: flex;
    align-items: center;
    gap: 7px;
}

.postProfilePicture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 18px;
    font-weight: 500;
}

.postTiming {
    font-size: 12px;
}

.postOptionsIcon:hover {
    background-color: rgb(164, 164, 164);
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
}

.postOptions {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: var(--bg1);
    filter: brightness(1.1);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 20px -8px rgb(0 0 0 / 82%);
    transition: transform 0.15s ease;
    transform: scale(0) translate(150px, -10px);
}

.postOptions.active {
    transform: scale(1) translate(0px, 35px);
    z-index: 20;
}

.postOptionsList {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.postOptionItem {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
}

.postOptionItem:hover {
    background: var(--gray3);
}

.postCenter {
    margin: 10px 0;
}

.postImg {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 5px;
    margin: 5px 0;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    /* margin-right: 5px; */
    cursor: pointer;
}

.postLikeCounter {
    margin-left: 5px;
}

.postCommentCounter {
    cursor: pointer;
    border-bottom: 1px dashed gray;
}